---
const {
  title = 'Wiihope - Fe bueno en Dios',
  description = 'Wiihope es una aplicación diseñada para compartir y aprender más sobre la palabra de Dios con propósito de fortalecer la fe.',
} = Astro.props;

import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content="astro" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://wiihope.blogspot.com/" />
    <meta name="description" content={description} />
    <link rel="canonical" href="https://wiihope.blogspot.com/" />
    <link rel="icon" type="image/x-icon" href="https://wiihope.blogspot.com/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    
    <!-- ✅ Script como módulo ES6 -->
    <script>
      import '../scripts/main.js';
    </script>
  </body>
</html>